# **IMPORTING RELAVENT LIBRARIES FOR DEALING WITH DATASETS(CSV),MATHEMATICAL,PLOTTING AND MODELS**

In [ ]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

MOUNTING DRIVE

In [ ]:
#mounting google drive and reading the contents of training and testing as cvs
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

IMPORTING DATASETS

In [ ]:
#importing datasets from my drive
df= pd.read_csv("/content/drive/My Drive/archive/players_20.csv")
df_19= pd.read_csv("/content/drive/My Drive/archive/players_19.csv")

**DATA SET PLAYERS_19.CSV = df(first dataframe)**

**DATA SET PLAYERS_20.CSV = df_19(second dataframe)**

In [ ]:
df.head()

   sofifa_id                                         player_url  ...   rcb    rb
0     158023  https://sofifa.com/player/158023/lionel-messi/...  ...  52+2  63+2
1      20801  https://sofifa.com/player/20801/c-ronaldo-dos-...  ...  53+3  61+3
2     190871  https://sofifa.com/player/190871/neymar-da-sil...  ...  46+3  61+3
3     200389  https://sofifa.com/player/200389/jan-oblak/20/...  ...   NaN   NaN
4     183277  https://sofifa.com/player/183277/eden-hazard/2...  ...  49+3  61+3

[5 rows x 104 columns]

In [ ]:
df_19.head()

   sofifa_id                                         player_url  ...   rcb    rb
0      20801  https://sofifa.com/player/20801/c-ronaldo-dos-...  ...  53+3  61+3
1     158023  https://sofifa.com/player/158023/lionel-messi/...  ...  47+2  58+2
2     190871  https://sofifa.com/player/190871/neymar-da-sil...  ...  47+3  60+3
3     193080  https://sofifa.com/player/193080/david-de-gea-...  ...   NaN   NaN
4     192985  https://sofifa.com/player/192985/kevin-de-bruy...  ...  66+3  73+3

[5 rows x 104 columns]

# **NUMBER ONE:  ENCODING,SCALING AND DATA MUNGING**
**A. DROPPING IRRELEVANT COLUMNS**

In [ ]:

df = df.drop('dob', axis =1)
df = df.drop('weight_kg', axis =1)
df = df.drop('international_reputation', axis =1)
df = df.drop('real_face', axis =1)
df = df.drop('release_clause_eur', axis =1)
df = df.drop('player_tags', axis =1)
df = df.drop('team_jersey_number', axis =1)
df = df.drop('loaned_from', axis =1)
df = df.drop('joined', axis =1)
df = df.drop('contract_valid_until', axis =1)
df = df.drop('nation_position', axis =1)
df = df.drop('nation_jersey_number', axis =1)
df = df.drop('player_traits', axis =1)
df = df.drop('player_url', axis=1)
df = df.drop('sofifa_id', axis =1)
df = df.drop('long_name', axis =1)
u = df.iloc[:, -26:]
df = df.drop(u, axis=1)

In [ ]:

df_19 = df_19.drop('dob', axis =1)
df_19 = df_19.drop('weight_kg', axis =1)
df_19 = df_19.drop('international_reputation', axis =1)
df_19 = df_19.drop('real_face', axis =1)
df_19 = df_19.drop('release_clause_eur', axis =1)
df_19 = df_19.drop('player_tags', axis =1)
df_19 = df_19.drop('team_jersey_number', axis =1)
df_19 = df_19.drop('loaned_from', axis =1)
df_19 = df_19.drop('joined', axis =1)
df_19 = df_19.drop('contract_valid_until', axis =1)
df_19 = df_19.drop('nation_position', axis =1)
df_19 = df_19.drop('nation_jersey_number', axis =1)
df_19 = df_19.drop('player_traits', axis =1)
df_19 = df_19.drop('player_url', axis=1)
df_19 = df_19.drop('sofifa_id', axis =1)
df_19 = df_19.drop('long_name', axis =1)
u = df_19.iloc[:, -26:]
df_19 = df_19.drop(u, axis=1)

In [ ]:
df_19.head()

          short_name  age  ...  goalkeeping_positioning goalkeeping_reflexes
0  Cristiano Ronaldo   33  ...                       14                   11
1           L. Messi   31  ...                       14                    8
2          Neymar Jr   26  ...                       15                   11
3             De Gea   27  ...                       88                   94
4       K. De Bruyne   27  ...                       10                   13

[5 rows x 62 columns]

**B. COMBINE AND REDUCING REELATED COLUMNS BY AVERAGING THEM**

In [ ]:

i = df['goalkeeping_diving'] + df['goalkeeping_handling'] + df['goalkeeping_kicking'] + df['goalkeeping_positioning'] + df['goalkeeping_reflexes']
df['GK'] = i/5
i = ['goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes']
df = df.drop(i, axis=1)

i = df['defending_sliding_tackle'] + df['defending_standing_tackle'] + df['defending_marking']
df['Defending'] = i/3
i = ['defending_sliding_tackle', 'defending_standing_tackle', 'defending_marking']
df = df.drop(i, axis=1)

i = df['mentality_composure'] + df['mentality_penalties'] + df['mentality_vision'] + df['mentality_positioning'] + df['mentality_interceptions'] + df['mentality_aggression']
df['Mentality'] = i/6
i = ['mentality_composure', 'mentality_penalties', 'mentality_vision', 'mentality_positioning', 'mentality_interceptions', 'mentality_aggression']
df = df.drop(i, axis=1)

i =df['power_long_shots'] = df['power_strength'] + df['power_stamina'] + df['power_jumping'] + df['power_shot_power']
df['Power'] = i/5
i = ['power_shot_power', 'power_jumping', 'power_stamina', 'power_strength','power_long_shots']
df = df.drop(i, axis=1)

i = df['movement_acceleration'] + df['movement_sprint_speed'] + df['movement_agility'] + df['movement_reactions'] + df['movement_balance']
df['Movement'] = i/5
i = ['movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions','movement_balance']
df = df.drop(i, axis=1)

**C. ENCODING ALL THE COLUMNS WITH STRINGS**

In [ ]:

df['short_name'], _ = pd.factorize(df['short_name'])
df['nationality'], _ = pd.factorize(df['nationality'])
df['player_positions'], _ = pd.factorize(df['player_positions'])
df['work_rate'], _ = pd.factorize(df['work_rate'])
df['body_type'], _ = pd.factorize(df['body_type'])
df['team_position'], _ = pd.factorize(df['team_position'])
df['club'], _ = pd.factorize(df['club'])

df.head()

   short_name  age  height_cm  ...  Mentality  Power  Movement
0           0   32        170  ...  74.500000   59.4      91.6
1           1   34        187  ...  74.833333   70.6      86.8
2           2   27        175  ...  74.666667   54.2      91.0
3           3   26        188  ...  34.666667   51.2      61.4
4           4   28        175  ...  75.000000   57.0      92.2

[5 rows x 43 columns]

**D. CONVERTING ALL THE COLUMNS THAT ARE BEING USED FROM STRING TO FLOAT TO AVOID ERRORS**

In [ ]:

df_19['potential'] = pd.to_numeric(df_19['potential'],errors='coerce')
df_19['value_eur'] = pd.to_numeric(df_19['value_eur'],errors='coerce')
df_19['wage_eur'] = pd.to_numeric(df_19['wage_eur'],errors='coerce')
df_19['attacking_short_passing'] = pd.to_numeric(df_19['attacking_short_passing'],errors='coerce')
df_19['skill_long_passing'] = pd.to_numeric(df_19['skill_long_passing'],errors='coerce')
df_19['age'] = pd.to_numeric(df_19['age'],errors='coerce')
df_19['skill_ball_control'] = pd.to_numeric(df_19['skill_ball_control'],errors='coerce')
df_19['skill_curve'] = pd.to_numeric(df_19['skill_curve'],errors='coerce')
df_19['skill_moves'] = pd.to_numeric(df_19['skill_moves'],errors='coerce')    
df_19['attacking_volleys'] = pd.to_numeric(df_19['attacking_volleys'],errors='coerce')

In [ ]:

df['potential'] = pd.to_numeric(df['potential'],errors='coerce')
df['value_eur'] = pd.to_numeric(df['value_eur'],errors='coerce')
df['wage_eur'] = pd.to_numeric(df['wage_eur'],errors='coerce')
df['attacking_short_passing'] = pd.to_numeric(df['attacking_short_passing'],errors='coerce')
df['skill_long_passing'] = pd.to_numeric(df['skill_long_passing'],errors='coerce')
df['age'] = pd.to_numeric(df['age'],errors='coerce')
df['skill_ball_control'] = pd.to_numeric(df['skill_ball_control'],errors='coerce')
df['skill_curve'] = pd.to_numeric(df['skill_curve'],errors='coerce')
df['skill_moves'] = pd.to_numeric(df['skill_moves'],errors='coerce')    
df['attacking_volleys'] = pd.to_numeric(df['attacking_volleys'],errors='coerce')

# **NUMBER TWO**

**FEATURES THAT SIGNIFICANTLY CORRELATE TO THE OVERAL**

In [ ]:
#selecting features
from sklearn.model_selection import train_test_split
train_data, test_data= train_test_split(df,test_size=0.2)
from sklearn.linear_model import LinearRegression
target_feature='overall'
#finding features that arecorrelated to the overall column
feature_corr=train_data.corr(method='pearson')[target_feature]
feature_corr=feature_corr.sort_values(ascending=False)
#print thetop ten correlations with the target value
print(feature_corr[1:21])
corr_matrix = df.corr()
corr_matrix['overall'].sort_values(ascending=False)

gk_diving                  0.948894
gk_reflexes                0.948167
gk_positioning             0.944504
gk_handling                0.928172
gk_kicking                 0.794337
passing                    0.683630
potential                  0.646758
value_eur                  0.638344
dribbling                  0.601142
Power                      0.585290
wage_eur                   0.571810
Mentality                  0.565085
physic                     0.519346
attacking_short_passing    0.509492
shooting                   0.497151
skill_long_passing         0.492273
gk_speed                   0.481132
age                        0.471026
skill_ball_control         0.462468
skill_curve                0.419720
Name: overall, dtype: float64

overall                       1.000000
gk_diving                     0.948912
gk_reflexes                   0.947823
gk_positioning                0.944758
gk_handling                   0.925025
gk_kicking                    0.790903
passing                       0.683954
potential                     0.646650
value_eur                     0.638230
dribbling                     0.601190
Power                         0.581462
wage_eur                      0.573578
Mentality                     0.560615
physic                        0.517214
attacking_short_passing       0.503157
shooting                      0.497881
skill_long_passing            0.487289
gk_speed                      0.480652
age                           0.464305
skill_ball_control            0.457052
skill_curve                   0.415521
skill_moves                   0.401261
attacking_volleys             0.394152
skill_fk_accuracy             0.389790
attacking_crossing            0.389078
skill_dribbling               0.370639
attacking_heading_accuracy    0.345784
attacking_finishing           0.342372
defending                     0.334792
Movement                      0.334067
Defending                     0.262355
weak_foot                     0.230276
pace                          0.158866
height_cm                     0.039945
work_rate                     0.010359
body_type                    -0.005660
player_positions             -0.012717
GK                           -0.012837
nationality                  -0.198918
team_position                -0.289361
club                         -0.543033
short_name                   -0.930959
Name: overall, dtype: float64

# **NUMBER THREE**
**CREATING AND TRAINNING A SUITABLE MACHINE LEARNING MODEL**

#copying top 20 relavent features to be used by model
features=feature_corr[1:11].index.tolist()
print(features)

In [ ]:
features=feature_corr[1:11].index.tolist()
print(features)
from sklearn.model_selection import train_test_split
train_data, test_data= train_test_split(df,test_size=0.2)
from sklearn.linear_model import LinearRegression
#training the model
x_train=train_data[features]
y_train=train_data[target_feature]

#replace all empty cells with zero
x_train.fillna(0,inplace=True)

#using the LinearRegression method to build the model
model=LinearRegression().fit(x_train,y_train)
#print score
print("Score:"+str(model.score(x_train,y_train)))

['gk_diving', 'gk_reflexes', 'gk_positioning', 'gk_handling', 'gk_kicking', 'passing', 'potential', 'value_eur', 'dribbling', 'Power']
Score:0.7949995021017622

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

**TESTING THE MODEL USING THE 25% OF THE FIFA 20 DATASET**

In [ ]:
#testing the model
#sort test data first
test_data=test_data.sort_values([target_feature], ascending=False)
x_test=test_data[features]
x_test.fillna(0,inplace=True)
y_test=test_data[target_feature]

#start predicting
y_predict=model.predict(x_test)
#add new column called predicted 
test_data['predicted']=y_predict
rating=((y_predict-y_test)/y_test*100)
#add anew column called accuracy
test_data['difference']=rating
test_data[["short_name","overall","predicted","difference"]]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

       short_name  overall   predicted  difference
10             10       89  104.904611   17.870350
13             13       89   94.906310    6.636303
21             21       89   91.898771    3.257046
26             26       88   94.068177    6.895656
33             33       88   86.282876   -1.951278
...           ...      ...         ...         ...
18236       17318       48   57.145285   19.052677
18243       17323       48   52.604852    9.593441
18272       17349       48   51.594126    7.487763
18266       15021       48   54.715803   13.991256
18237       15844       48   54.409314   13.352738

[3656 rows x 4 columns]

# **NUMBER FOUR: OPTIMIZATION**
**MEASURING THE PERFOMANCE OF THE MODEL AND FINE TUNE IT**

In [ ]:
#

#WITH 10 FEATURES

#selcting features
features=corr_matrix['overall'].sort_values(ascending=False)
features=['potential','value_eur','wage_eur','attacking_short_passing','skill_long_passing','age','skill_ball_control','skill_curve','skill_moves','attacking_volleys']
X_train=df[features]
y_train=df['overall']
r = LinearRegression()
r.fit(X_train,y_train )
print(r.score(X_train,y_train))

0.8812484264381563

# **NUMBER FIVE: TESTING USING DATASET FROM ANOTHER YEAR**
**TESTING USING THE DATASET FROM ANOTHER YEAR IN THIS CASE FIFA_19**

In [ ]:
#selecting features from the FIFA_19 dataset
features=['potential','value_eur','wage_eur','attacking_short_passing','skill_long_passing','age','skill_ball_control','skill_curve','skill_moves','attacking_volleys']
x_test=df_19[features]
x_test.fillna(0,inplace=True)
y_test=df_19['overall']
r= LinearRegression()
r.fit(X_train,y_train )
predict=r.predict(x_test)
df_19['predicted']=predict
df_19[['short_name','overall','predicted']]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

              short_name  overall   predicted
0      Cristiano Ronaldo       94  104.912550
1               L. Messi       94  108.949383
2              Neymar Jr       92  109.152640
3                 De Gea       91   96.647792
4           K. De Bruyne       91  104.416152
...                  ...      ...         ...
17765        P. Phillips       47   51.458352
17766         A. Kaltner       47   50.351719
17767        Ma Junliang       47   52.430084
17768          C. Ehlich       47   49.764005
17769           E. Tweed       47   49.263692

[17770 rows x 3 columns]

# **NUMBER SIX: PICKLKE for the video refere to link**
**PICKLE**

**IMPORTING PIKLE FOR MODEL DEPLOYMENT**

In [ ]:
#REMOVED